<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">We've got what you need!</h2>
                <hr class="light">
		<p class="text-faded">AnA는 프로그래밍 언어와 알고리즘을 배우고,<br/>알고리즘 문제를 통해 코딩 능력과 문제해결 능력을 향상시키기 위해 결성된 동아리입니다.</p>
		<br/>
                <a href="#services" class="btn btn-default btn-xl page-scroll">Want More?</a>
            </div>
        </div>
    </div>
</section>
