<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
		<p>Ready to start your next project with us?<br/> That's great! Give us a call or send us an email and we will get back to you as soon as possible!<br/><br/>A.N.T 동아리는 알고리즘 문제해결에 관심이 있는 모든 분을 환영합니다.<br/><br/></p>
            </div>
            <div class="col-lg-2 col-lg-offset-2 text-center">
                <a href="https://www.acmicpc.net/group/member/471" target="_blank">
                    <img src="img/boj-icon.png" witdth="56" height="56" class="wow bounceIn" data-wow-delay=".1s"></img>
                    <p>{{ site.boj_username }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="mailto:{{ site.email }}">
                    <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.email }}</p>
                </a>
            </div>
            <div class="col-lg-2 col-lg-offset-1 text-center">
                <a href="https://github.com/{{ site.github_username }}" target="_blank">
                    <i class="fa fa-github fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                    <p>{{ site.github_username }}</p>
                </a>
            </div>
     
     	    <div class="col-lg-8 col-lg-offset-2 text-center">
                <p>회장: 19 복신영, 부회장: 20 최민우</p>
            </div>
        </div>
    </div>
    
    <div class="col-lg-8 col-lg-offset-2 text-center">
        <img src="/img/logo.png"></img>
    </div>
</section>
