<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>알고리즘 문제풀이</h3>
                    <p class="text-muted">자료구조, DP, 그래프, 네트워크플로우 등 다양한 알고리즘 이론을 학습합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>대회 출전</h3>
                    <p class="text-muted">국내외 다양한 알고리즘 문제해결 프로그래밍 대회에 출전합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>세미나 개최</h3>
                    <p class="text-muted">주기적으로 알고리즘 학습과 문제풀이 방법을 공유합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-flag wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>알고리즘 대회 개최</h3>
                    <p class="text-muted">알고리즘 대회인 생각하는 프로그래밍 대회를 5회째 개최하고 있습니다.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
		<p class="text-faded"><br/><br/></p>
		<a href="#portfolio" class="btn btn-primary btn-xl page-scroll">Activities</a>
            </div> 
        </div>
    </div> 
</section>
